<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxcv.busi.mapper.site.SiteNewsInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zxcv.busi.domain.site.SiteNewsInfo">
        <id column="id" property="id" />
        <result column="news_no" property="newsNo" />
        <result column="news_type" property="newsType" />
        <result column="title" property="title" />
        <result column="description" property="description" />
        <result column="begin_time" property="beginTime" />
        <result column="end_time" property="endTime" />
        <result column="content" property="content" />
        <result column="read_num" property="readNum" />
        <result column="project_no" property="projectNo" />
        <result column="data_state" property="dataState" />
        <result column="remark" property="remark" />
        <result column="create_emp_id" property="createEmpId" />
        <result column="create_emp_name" property="createEmpName" />
        <result column="create_time" property="createTime" />
        <result column="modify_emp_id" property="modifyEmpId" />
        <result column="modify_emp_name" property="modifyEmpName" />
        <result column="modify_time" property="modifyTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, news_no, news_type, title, description, begin_time, end_time, content, read_num, project_no, data_state, remark, create_emp_id, create_emp_name, create_time, modify_emp_id, modify_emp_name, modify_time
    </sql>

</mapper>
