<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxcv.busi.mapper.sys.SysDictMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zxcv.busi.domain.sys.SysDict">
        <id column="id" property="id" />
        <result column="type" property="type" />
        <result column="name" property="name" />
        <result column="value" property="value" />
        <result column="show_user" property="showUser" />
        <result column="order_level" property="orderLevel" />
        <result column="data_state" property="dataState" />
        <result column="remark" property="remark" />
        <result column="create_emp_id" property="createEmpId" />
        <result column="create_emp_name" property="createEmpName" />
        <result column="create_time" property="createTime" />
        <result column="modify_emp_id" property="modifyEmpId" />
        <result column="modify_emp_name" property="modifyEmpName" />
        <result column="modify_time" property="modifyTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, type, name, value, show_user, order_level, data_state, remark, create_emp_id, create_emp_name, create_time, modify_emp_id, modify_emp_name, modify_time
    </sql>

</mapper>
