<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxcv.busi.mapper.sys.UserInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zxcv.busi.domain.sys.UserInfo">
        <id column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="user_password" property="userPassword" />
        <result column="real_name" property="realName" />
        <result column="user_email" property="userEmail" />
        <result column="user_state" property="userState" />
        <!--<result column="create_emp_id" property="createEmpId" />
        <result column="create_emp_name" property="createEmpName" />-->
        <result column="create_time" property="createTime" />
        <!--<result column="modify_emp_id" property="modifyEmpId" />
        <result column="modify_emp_name" property="modifyEmpName" />-->
        <result column="modify_time" property="modifyTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, user_name, user_password, real_name, user_email, user_state, create_time , modify_time
    </sql>

</mapper>
